$header-bg:#122b30;
$header-adaptive-color:#ffe600;

$section-primary-bg:#ffffff;
$section-secondary-bg:#12191e;
$section-inverse-bg:#131316;

$section-main-primary-bg:#11343a;
$section-main-secondary-bg:#122b30;
$section-main-title-primary-color:#000000;

$button-primary-bg:#ffe600;
$button-primary-color:#131316;
$button-secondary-bg:#ffe600;
$button-secondary-color:#ffffff;

$anchor-bg:#ffe600;
$anchor-color:#ffffff;

$section-title-primary-color:#000000;
$section-title-secondary-color:#ffffff;
$section-title-rarest-color:#ffe600;

$section-smaller-title-primary-color:#000000;
$section-smaller-title-secondary-color:#ffffff;
$section-smaller-title-rarest-color:#ffe600;

$section-less-title-primary-color:#515151;

$section-pre-title-primary-color:#515151;

$main-title-color:#ffffff;

$text-primary-color:#707070;
$text-inverse-color:#ffffff;

$nav-link-primary-color:#ffffff;
$nav-link-is-active-color:#ffe600;
$nav-before-item-bg:#ffe600;

$nav-link-portfolio-primary-color:#515151;

$card-title-primary-color:#131316;
$card-title-inverse-color:#ffffff;
$card-title-rarest-color:#ffe600;

$card-middle-title-primary-color:#515151;
$card-middle-title-secondary-color:#ffffff;

$subtitle-hover-pimary-color:#ffffff;

$card-expand-icon-close-color:#ffe600;


$card-anchor-hover-primary-bg:#cfc20c;
$card-anchor-hover-media-color:#515151;

$icon-primary-color:#ffffff;
$icon-services-background:#ffe600;
$icon-services-background-hover:transparent;
$icon-services-border-color:transparent;
$icon-services-border-color-hover:#131316;
$icon-services-color-hover:#ffe600;
$icon-about-us-bg:#ffe600;
$icon-about-us-color:#ffffff;


$element-line-after-bg:#ffe600;

$card-border-primary-color:#ffe600;

$counter-primary-color:#ffffff;


@mixin text_styles($color, $font-size, $font-weight, $text-transfortm){
  color:$color;
  font-size:$font-size;
  font-weight:$font-weight;
  text-transform:$text-transfortm;
}

.section {
    position: relative;
    overflow: hidden;
    background: $section-primary-bg;
    &-background img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &-foreground {
        padding: 30px 0;
        position: relative;
        z-index: 1000;
        overflow: hidden;
    }
    &-inverse {
        background: $section-inverse-bg;
    }
}

.header {
    background: $header-bg;
}

.section-heading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-main {
    background: $section-main-primary-bg;
    .section-foreground {
        padding: 0;
        .section-body {
            min-height: 951px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
        }
    }
}

.section-services {
    .section-foreground {
        min-height: 590px;
    }
}

.section-tools {
    .section-foreground {
        min-height: 470px;
    }
}

.section-portfolio {
    .section-foreground {
        min-height: 1792px;
    }
}

.section-progress {
    .section-foreground {
        min-height: 402px;
    }
}

.section-about-us {
    .section-foreground {
        min-height: 671px;
    }
}

.section-team {
    .section-foreground {
        min-height: 580px;
    }
}