$icomoon-font-path: "../../fonts/fonts" !default;

$icon-lifebuoy: '\e904';
$icon-menu: '\e902';
$icon-thumbs-up:'\e90d';
$icon-google: '\e90b';
$icon-twitter: '\e905';
$icon-chevrons-up: '\e90a';
$icon-chevrons-left: '\e900';
$icon-chevrons-right: '\e901';
$icon-close: '\e903';
$icon-life-bouy: '\e90c';
$icon-dribbble: '\e906';
$icon-cog: '\e907';
$icon-gear: '\e907';
$icon-angle-double-down: '\e908';
$icon-home3: '\e909';
$icon-pen: '\1f54f';
$icon-camera: '\e90f';
$icon-phone: '\e942';
$icon-alarm: '\e950';
$icon-bubbles2: '\e96d';
$icon-css3: '\eae6';


@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?b1csds');
  src:  url('#{$icomoon-font-path}/icomoon.eot?b1csds#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?b1csds') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?b1csds') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?b1csds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-lifebuoy {
  &:before {
    content: unicode($icon-lifebuoy);
  }
}
.icon-menu {
  &:before {
    content: unicode($icon-menu);
  }
}
.icon-thumbs-up {
  &:before {
    content: unicode($icon-thumbs-up);
  }
}
.icon-google {
  &:before {
    content: unicode($icon-google);
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter);
  }
}
.icon-chevrons-up {
  &:before {
    content: unicode($icon-chevrons-up);
  }
}
.icon-chevrons-left {
  &:before {
    content: unicode($icon-chevrons-left);
  }
}
.icon-chevrons-right {
  &:before {
    content: unicode($icon-chevrons-right);
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close);
  }
}
.icon-life-bouy {
  &:before {
    content: unicode($icon-life-bouy);
  }
}
.icon-dribbble {
  &:before {
    content: unicode($icon-dribbble);
  }
}
.icon-cog {
  &:before {
    content: unicode($icon-cog);
  }
}
.icon-gear {
  &:before {
    content: unicode($icon-gear);
  }
}
.icon-angle-double-down {
  &:before {
    content: unicode($icon-angle-double-down);
  }
}
.icon-home3 {
  &:before {
    content: unicode($icon-home3);
  }
}
.icon-pen {
  &:before {
    content: unicode($icon-pen);
  }
}
.icon-camera {
  &:before {
    content: unicode($icon-camera);
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone);
  }
}
.icon-alarm {
  &:before {
    content: unicode($icon-alarm);
  }
}
.icon-bubbles2 {
  &:before {
    content: unicode($icon-bubbles2);
  }
}
.icon-css3 {
  &:before {
    content: unicode($icon-css3);
  }
}
